.DS_Store*

.DS_Store
.DS_Sto*
Analyses/.DS_Store
test/.Rhistory
.Rhistory
.history
Analyses/expgddchill.csv

Analyses/radcliffe_merge_expclim2.R

*.dbf

*.shp

*.shx

*.history

*.rda

*.rds

*.stan~

documents/expwarm/Inquiry_EL.pdf

*.log

*.aux

Data/Experiments/.DS_Store

*.blg

Data/Experiments/.DS_Store

Data/Experiments/.DS_Store

documents/expwarm/expwarm_effects_clim_sup.bbl

documents/expwarm/expwarm_effects_clim.bbl

documents/expwarm/RevResponse_EL.synctex.gz

Data/Experiments/spruce/Gunderson et al.  Environmental (01-03-2010) (version 2).xls

Data/Experiments/spruce/Met files 1993-2006 dupl_downld 1_24_2011 (recov Apr21 work-don't think its diff tho).xls

*.xls

documents/expwarm/RevResponse_EL.synctex.gz

Data/Experiments/spruce/Gunderson et al.  Environmental (01-03-2010) (version 2).xls

*.bbl

documents/expwarm/RevResponse_EL2.synctex.gz

documents/expwarm/expwarm_effects_clim2.tex

*.docx
